/* Whitespace */

:root {
  --base-spacing-unit: 1.5rem;
}


/* Extra Margin */
.u-marAllNone {
  margin: 0
}
.u-marTopNone {
  margin-top: 0
}
.u-marRightNone {
  margin-right: 0
}
.u-marBotNone {
  margin-bottom: 0
}
.u-marLeftNone {
  margin-left: 0
}
.u-marAll {
  margin: calc(var(--base-spacing-unit)*1)
}
.u-marTop {
  margin-top: calc(var(--base-spacing-unit)*1)
}
.u-marRight {
  margin-right: calc(var(--base-spacing-unit)*1)
}
.u-marBottom {
  margin-bottom: calc(var(--base-spacing-unit)*1)
}
.u-marLeft {
  margin-left: calc(var(--base-spacing-unit)*1)
}
.u-marAll--double {
  margin: calc(var(--base-spacing-unit)*2)
}
.u-marTop--double {
  margin-top: calc(var(--base-spacing-unit)*2)
}
.u-marRight--double {
  margin-right: calc(var(--base-spacing-unit)*2)
}
.u-marBottom--double {
  margin-bottom: calc(var(--base-spacing-unit)*2)
}
.u-marLeft--double {
  margin-left: calc(var(--base-spacing-unit)*2)
}
.u-marAll--triple {
  margin: calc(var(--base-spacing-unit)*3)
}
.u-marTop--triple {
  margin-top: calc(var(--base-spacing-unit)*3)
}
.u-marRight--triple {
  margin-right: calc(var(--base-spacing-unit)*3)
}
.u-marBottom--triple {
  margin-bottom: calc(var(--base-spacing-unit)*3)
}
.u-marLeft--triple {
  margin-left: calc(var(--base-spacing-unit)*3)
}
.u-marAll--quad {
  margin: calc(var(--base-spacing-unit)*4)
}
.u-marTop--quad {
  margin-top: calc(var(--base-spacing-unit)*4)
}
.u-marRight--quad {
  margin-right: calc(var(--base-spacing-unit)*4)
}
.u-marBottom--quad {
  margin-bottom: calc(var(--base-spacing-unit)*4)
}
.u-marLeft--quad {
  margin-left: calc(var(--base-spacing-unit)*4)
}
.u-marSide{
  margin-left: calc(var(--base-spacing-unit)*1);
  margin-right: calc(var(--base-spacing-unit)*1);
}
.u-marSide--double {
  margin-left: calc(var(--base-spacing-unit)*2);
  margin-right: calc(var(--base-spacing-unit)*2);
}
.u-marSide--triple {
  margin-left: calc(var(--base-spacing-unit)*3);
  margin-right: calc(var(--base-spacing-unit)*3);
}
.u-marSide--quad {
  margin-left: calc(var(--base-spacing-unit)*4);
  margin-right: calc(var(--base-spacing-unit)*4);
}
.u-marSideAuto {
  margin-left: auto;
  margin-right: auto;
}

.u-marTall {
  margin-top: calc(var(--base-spacing-unit)*1);
  margin-bottom: calc(var(--base-spacing-unit)*1);
}
.u-marTall--double {
  margin-top: calc(var(--base-spacing-unit)*2);
  margin-bottom: calc(var(--base-spacing-unit)*2);
}
.u-marTall--triple {
  margin-top: calc(var(--base-spacing-unit)*3);
  margin-bottom: calc(var(--base-spacing-unit)*3);
}
.u-marTall--quad {
  margin-top: calc(var(--base-spacing-unit)*4);
  margin-bottom: calc(var(--base-spacing-unit)*4);
}

/* Extra Padding */
.u-padAllNone {
  padding: 0
}
.u-padTopNone {
  padding-top: 0
}
.u-padRightNone {
  padding-right: 0
}
.u-padBotNone {
  padding-bottom: 0
}
.u-padLeftNone {
  padding-left: 0
}
.u-padAll {
  padding: calc(var(--base-spacing-unit)*1)
}
.u-padTop {
  padding-top: calc(var(--base-spacing-unit)*1)
}
.u-padRight {
  padding-right: calc(var(--base-spacing-unit)*1)
}
.u-padBottom {
  padding-bottom: calc(var(--base-spacing-unit)*1)
}
.u-padLeft {
  padding-left: calc(var(--base-spacing-unit)*1)
}
.u-padAll--double {
  padding: calc(var(--base-spacing-unit)*2)
}
.u-padTop--double {
  padding-top: calc(var(--base-spacing-unit)*2)
}
.u-padRight--double {
  padding-right: calc(var(--base-spacing-unit)*2)
}
.u-padBottom--double {
  padding-bottom: calc(var(--base-spacing-unit)*2)
}
.u-padLeft--double {
  padding-left: calc(var(--base-spacing-unit)*2)
}
.u-padAll--triple {
  padding: calc(var(--base-spacing-unit)*3)
}
.u-padTop--triple {
  padding-top: calc(var(--base-spacing-unit)*3)
}
.u-padRight--triple {
  padding-right: calc(var(--base-spacing-unit)*3)
}
.u-padBottom--triple {
  padding-bottom: calc(var(--base-spacing-unit)*3)
}
.u-padLeft--triple {
  padding-left: calc(var(--base-spacing-unit)*3)
}
.u-padAll--quad {
  padding: calc(var(--base-spacing-unit)*4)
}
.u-padTop--quad {
  padding-top: calc(var(--base-spacing-unit)*4)
}
.u-padRight--quad {
  padding-right: calc(var(--base-spacing-unit)*4)
}
.u-padBottom--quad {
  padding-bottom: calc(var(--base-spacing-unit)*4)
}
.u-padLeft--quad {
  padding-left: calc(var(--base-spacing-unit)*4)
}
.u-padSide{
  padding-left: calc(var(--base-spacing-unit)*1);
  padding-right: calc(var(--base-spacing-unit)*1);
}
.u-padSide--double {
  padding-left: calc(var(--base-spacing-unit)*2);
  padding-right: calc(var(--base-spacing-unit)*2);
}
.u-padSide--triple {
  padding-left: calc(var(--base-spacing-unit)*3);
  padding-right: calc(var(--base-spacing-unit)*3);
}
.u-padSide--quad {
  padding-left: calc(var(--base-spacing-unit)*4);
  padding-right: calc(var(--base-spacing-unit)*4);
}
.u-padSideAuto {
  padding-left: auto;
  padding-right: auto;
}
.u-padTall {
  padding-top: calc(var(--base-spacing-unit)*1);
  padding-bottom: calc(var(--base-spacing-unit)*1);
}
.u-padTall--double {
  padding-top: calc(var(--base-spacing-unit)*2);
  padding-bottom: calc(var(--base-spacing-unit)*2);
}
.u-padTall--triple {
  padding-top: calc(var(--base-spacing-unit)*3);
  padding-bottom: calc(var(--base-spacing-unit)*3);
}
.u-padTall--quad {
  padding-top: calc(var(--base-spacing-unit)*4);
  padding-bottom: calc(var(--base-spacing-unit)*4);
}
